/********** Base styles **********/
html {
  box-sizing: border-box;
  font-family: "ヒラギノ角ゴシック";
}


h1 {
	font-family: serif;
	text-align: center;
	color: #000000;
}


h2 {
	color: black;
}

li.url_list{
	margin-bottom: 30px;
}

#marukaku {
	font-family: serif
	background-color: white;
	border: 2px solid black;
	border-radius: 25px 25px 25px 25px;
	padding: 10px;

	width: 300px;
	overflow: auto;

}

#marukaku:hover {
	color: black;
}
